@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

html{
	width: 100%;
	height: 100%;
}

.container {
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
	font-family: 'Sansita', sans-serif;
	background-color: '#add8e6';
}

.evidence {
	font-family: 'Galada', cursive;
	font-size: 2em;
	line-height: 1.25em;
}

.name {
	font-size: 4em;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	color: #f4a200 !important;
	border-bottom: dotted 1px;
	text-decoration: none;
}

a.nolink{
	border-bottom: none;
}

.header {
	padding-top: 10%;
}

.main-menu {
	padding: 3% 0;
}

.highlighted {
	color: #7da7b4;
}

